////Pin assignments
//IO_LOC "clk" C9;
//IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
//IO_LOC "reset" D9;
//IO_PORT "reset" IO_TYPE=LVCMOS33 PULL_MODE=UP;

//Critical component placement
//AREA_GROUP "AG_ALU" RANGE=SLICE_X10Y10:SLICE_X25Y25;
//INST "*/ALU*" AREA_GROUP="AG_ALU";

//AREA_GROUP "AG_FORWARD" RANGE=SLICE_X10Y26:SLICE_X25Y35;
//INST "*/forward*" AREA_GROUP="AG_FORWARD";

//AREA_GROUP "AG_PC" RANGE=SLICE_X0Y0:SLICE_X9Y15;
//INST "*/PC*" AREA_GROUP="AG_PC";

//Keep components close to reduce routing delay
//INST "*/ALU*" LOCATE=REGION_X0Y0:REGION_X1Y1;
//INST "*/forward*" LOCATE=REGION_X0Y0:REGION_X1Y1;